#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 1%;
  padding: 5%;
}

div.col-lg-3 {
  margin: 0%;
  padding: 0%;
}

.read-the-docs {
  color: #888;
}

.modal-dialog {
  max-width: 100%;
}

.modal-content {
  width: 100% !important; 
}

.video-responsive {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio (height: 9/16 = 0.5625) */
  position: relative;
}


.video-responsive .iframe-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}